<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

</head>

<body>
    <table style="border: none">

        <thead>
            <tr>
                <th colspan="3" style="background-color: royalblue; color:white; padding:10px">
                    <h1>
                        <%- locals.subject %>
                    </h1>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan="3">
                    <%- locals.message %>
                </td>

            </tr>
            <% if(locals.code) { %>
                <tr>
                    <td>
                        <strong>
                            Security Code:
                        </strong>
                    </td>
                    <td colspan="2" style="font-family: 'Courier New', Courier, monospace;">
                        <%- locals.code %>
                    </td>
                </tr>
                <% } %>
                    <% if(locals.link) { %>
                        <tr>
                            <td colspan="3" style="text-align: center;">
                                <a href="<%- locals.link %>" target="_blank">
                                    <%- locals.linkLabel %>
                                </a>
                            </td>
                        </tr>
                        <% } %>
        </tbody>
    </table>

</body>

</html>